@import 'header-login';
@import 'navigation';
@import 'mobile-navigation';
@import 'header-search';

#shopify-section-header {
  position: sticky;
  top: 0;
  z-index: 9;
}
.site-header {
  background-color: color('mink');
  position: relative;

  @include below('tablet') {
    z-index: 9;
  }

  .row {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .cell {
    padding: 0;
  }
}
