.search {
  @include padding(1.5rem, 11rem, 2rem, 11rem);
  background-color: color('white');
  display: none;

  &.active {
    display: block;
  }
  @include below('tablet-large') {
    @include padding(0.5rem, 1rem, 1rem, 1rem);
  }
}
.search__input {
  @include padding(.5rem, null, .5rem, null);
  width: 100%;
  @include border(bottom, 1px , solid, color('mink'));
  outline: none;
}
.search__form {
  position: relative;
}
.search__btn {
  position: absolute;
  padding: 0;
  right: 0;
  top: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500;
}
