.container,
.container-fluid {
  @include padding(null, 0.5rem, null, 0.5rem);
  @include margin(null, auto, null, auto);

  width: 100%;

  @include above('mobile-large') {
    @include padding(null, 1.25rem, null, 1.25rem);
  }
  @include above('tablet') {
    @include padding(null, 2.25rem, null, 2.25rem);
  }
  @include above('tablet-large') {
    @include padding(null, 2.75rem, null, 2.75rem);
  }
  @include above('desktop') {
    @include padding(null, 4rem, null, 4rem);
  }
}

.container {
  @include above('tablet-large') {
    max-width: 78.375rem;
    //max-width: size('page-desktop');
  }
}
.row {
  @include flex(null, center, null, wrap);
  //@include margin(null, - size('gutter'), null, - size('gutter'));

  @include above('tablet-large') {
    @include flex(null, center, null, wrap);
  }
}

// .col,
// .cell {
//   @include padding(null, size('gutter'), null, size('gutter'));
// }

.col {
  flex: inherit;
  width: 100%;

  @include above('tablet-large') {
    flex: 1;
  }
}

.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,
.col-7,.col-8,.col-9,.col-10,.col-11,.col-12 {
  padding: 0 16px;

  @include below('desktop') {
    padding: 0 12px;
  }
  @include below('tablet') {
    padding: 0 8px;
  }
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.content {
  @include margin(4rem, null, null, null);
}

.hide {
  display: none;
}

.no-list {
  @include flex(null, center, null, wrap);

  padding: 0;
  margin: 0;
  list-style: none;
}

.table-responsive {
  overflow-x: auto;
}

.responsive-image__image {
  width: 100%;
}

.text-center {
  text-align: center;
}
