.hamburger__menu {
  z-index: 3;
  height: 36px;
  width: 18px;
  overflow: hidden;
  color: transparent;
  white-space: nowrap;
  text-indent: 100%;
  position: relative;
  display: none;

  @include below('tablet-large') {
    display: block;
    @include margin(null, null, null, 0.25rem);
  } 

  span {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background 0.3s;
  }
  span::before {
    transform: translateY(-6px);
  }
  span::after {
    transform: translateY(7px);
  }
  span::before,
  span::after {
    content: '';
    top: 0;
    left: 0;
    transition: background 0.3s, transform 0.3s;
  }
  span,
  span::before,
  span::after {
    position: absolute;
    height: 1px;
    width: 24px;
    background: color('white');
  }
}

.navMobile {
  position: absolute;
  top: 64px;
  left: 0;
  width: calc(100vw - 40px);
  background-color: color('white');
  height: 100vh;
  overflow: auto;
  @include padding(1.625rem, 1rem, 2.5rem, 1rem);
  transform: translateX(-280px);
  transition: transform ease 1s,opacity ease 1s;
  opacity: 0;
  display: none;
  pointer-events: none;

  @include below('tablet-large') {
    display: block;
  }
}
.nav-open {
  .navMobile {
    z-index: 10;
    opacity: 1;
    transition: transform ease .5s,opacity ease .5s;
    transform: translateX(0);
    pointer-events: all;
  }
}
.navMobile__link {
  @include use-text-style('menu-items');
  text-transform: uppercase;
}
.submenuMobile__link {
  @include use-text-style('menu-items');
  font-weight: 500;
}
.submenuMobile , .navMobile__menu , .subnavMobile__list {
  margin: 0;
  padding: 0;
}
.navMobile__item {
  @include padding(null, null, 0.625rem, null);

  &:first-child {
    @include padding(null, null, 2.5rem, null);
  }
  &:last-child {
    padding: 0;
  }
}
.navMobile__footer {
  .navMobile__item {
    @include padding(null, null, 0.625rem, null);
  }
}
.submenuMobile__item {
  @include padding(0.625rem, null, null, null);
}

.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1C1D21;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;

  @include above('tablet') {
    display: none;
  }
}

.nav-open {
  @include below('tablet-large') {
    .overlay {
      opacity: 0.6;
      visibility: visible;
    }
    .hamburger__menu {
      span {
        background: transparent;
      }
      span::before {
        transform: rotate(-45deg);
      }
      span::after {
        transform: rotate(45deg);
      }
      span::before,
      span::after {
        background: color('white');
      }
    }
  }
}
.subnavMobile__link {
  font-size: 0.8125rem;
  letter-spacing: 1px;
  line-height: 1;
  font-weight: 500;
  @include padding(1.5rem, null, null, null);
  display: flex;
  justify-content: space-between;
}
.subnavMobile--list {
  .subnavMobile__link {
    @include padding(null, null, null, 2.375rem);
    font-weight: 300;
    letter-spacing: 0;
  }
}
.subnavMobile {
  @include padding(null, null, null, 1rem);

  &.subnavMobile--first {
    .subnavMobile__link.hide {
      display: none;
    }
  }

  .subnavMobile--list {
    position: absolute;
    width: 100%;
    background: #fff;
    height: 100vh;
    top: 0;
    left: 0;
    padding-top: 1.625rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    z-index: 10;
    transform: translateX(-100%);
    transition: transform ease .5s;
  }
  &.active {
    .subnavMobile--list {
      transform: translateX(0);
      transition: transform ease .5s;
    }
  }
}
.navMobile__footer {
  @include margin(2.5rem, null, null, null);
  @include padding(2.5rem, null, null, null);
  @include border(top, 1px, solid, color('rose'));
}
.subnavMobile__list--back {
  font-size: 0.8125rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 1px;

  svg {
    transform: rotate(-180deg);
    @include margin(null,0.9375rem,null,null);
  }
}
.subnavMobile__list--title {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 1px;
  display: block;
  @include margin(1.25rem,null,null,1.25rem);
}