// Design tokens
@import "./src/design-tokens/index";

.collection {
  .row {
    align-items: flex-start;
  }
}
.collection__hero__content {
  @include padding(4rem, 2rem, null, 4rem);
}
.collection__hero__image {
  padding: 0;
}
.collection__hero__title {
  @include margin(null, null, 2rem, null);
}
.collection__hero__description {
  letter-spacing: normal;
}
.collection__products__count {
  @include margin(1.75rem, null, null, null);
}
.collection__products {
  @include margin(null, null, 8rem, null);
  .product__gridItem {
    @include margin(3.75rem, null, null, null);
  }
}
.collection__filters {
  @include margin(4rem, null, null, null);
  display: flex;
}
.filters__label {
  font-size: .75rem;
  line-height: .875rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
  letter-spacing: 1px;
}
.collection__products__count {
  font-size: .8125rem;
  line-height: .8125rem;
  font-weight: 300;
}
.collection__filters__wrapper , .collection__filters__sort {
  display: flex;
  align-items: center;
}
.custom__select__list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 0;
  top: calc(100% + 1px);
  background-color: color('white');
  display: none;
  border: 1px solid color('mink');
  max-height: 25rem;
  width: 9.375rem;
  overflow: auto;

  a {
    padding: .5rem;
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: .5px;
    display: block;
    text-decoration: none;
  }
}
.custom__select {
  position: relative;
  @include padding(0.625rem, 1.5rem, 0.625rem, null);
  font-size: .875rem;
  line-height: 1rem;
  letter-spacing: .5px;
  font-weight: 400;
  cursor: pointer;
  z-index: 1;
  @include margin(null, null, null, 2rem);
  @include border(bottom, 1px, solid, color('mink'));

  &:after {
    content: " ";
    border: 4px solid transparent;
    border-top-color: color('mink');
    border-bottom: 0;
    @include margin(.375rem, null, null, 1rem);
    position: absolute;
    right: 0;
    transition: transform .3s linear 0s;
    transform: rotate(0);
    z-index: 1;
  }
  &.active {
    .custom__select__list {
      display: block;
    }
  }
}
#filterProduct {
  appearance: none;
  outline: none;
}
.filters__label {
  margin: 0;
}
.aboutCollection {
  @include padding(8rem, null, 8rem, null);
  background-color: color('sand');
  text-align: center;
}
.aboutCollection__description {
  text-align: left;
}
.aboutCollection__container {
  max-width: 63rem;
  @include padding(null, 1rem, null, 1rem);
  @include margin(null, auto, null, auto);
}
.aboutCollection__title {
  @include margin(null, null, 2rem, null);
}
.aboutCollection__description {
  @include margin(null, null, 2rem, null);
  p {
    letter-spacing: normal;
  }
}