/*
 * Import style components for the current template.
 *
 * Write your own styles after imports.
 *
 * Design tokens are required and encapsulated for each template.
 * Import it from the design-tokens folder.
 */

// Design tokens
@import "./src/design-tokens/index";

.product__thumbsSlider {
  @include margin(null, 2rem, null, null);
  height: 500px;
  width: 5rem;
}
.productDetail__thumbs {
  display: flex;
}
.product__thumbItems {
  width: 5rem;
}
.product__thumbImg {
  width: 5rem;
  height: 5rem;
}
.product__mainSlider {
  width: calc(100% - 7rem);
}
.productDetail__imgOnly {
  display: none;
}
