.hero {
  .row {
    align-items: flex-start;
  }
  .col-9 {
    @include below('tablet') {
      width: 100%;
    }
  }
}
.heroProduct__subtitle {
  @include margin(null, null, 0.75rem, null);

  @include below ('tablet-large') {
    font-size: 0.875rem;
    letter-spacing: 0.5px;
    line-height: 1.143;
  }
}
.heroProduct__title {
  @include margin(null, null, 1.5rem, null);

  @include below ('tablet-large') {
    font-size: 2.5rem;
    letter-spacing: 1.5px;
    line-height: 1.4;
  }
}
.heroProduct__btn {
  a {
    @include margin(null, 2.5rem, null, null);

    &:last-child {
      margin: 0;
    }

    @include below('tablet') {
      @include margin(null, 0.85rem, null, null);
      letter-spacing: 2px;
      border: none;

      &:last-child {
        @include padding(0,0,0.25rem,0);
        @include border(bottom,2px,solid,color('poppy-dark'));
        background: transparent;
      }
    }
  }
}
.heroProduct__img {
  @include below('tablet') {
    display: none;
  }
}
.heroProduct--img {
  margin-top: -15.5rem;

  @include below('desktop') {
    margin-top: -10rem;
  }
  @include below('tablet-large') {
    margin-top: -8.75rem;
  }
}
.heroProduct__content {
  @include padding(2rem, null, 8rem, null);

  @include below('tablet') {
    @include padding(1.5rem, null, 5rem, null);
  }
}