.homeCollection {
    text-align: center;
}
.homeCollection__title {
    @include margin(null, null, 2rem, null);
}
.homeCollection__link {
    text-transform: uppercase;
}
.homeCollection__products {
    text-align: left;
}
.homeCollection__products {
    @include margin(4rem, auto, 9rem, auto);
    max-width: 70rem;
    align-items: flex-start;
}
.homeCollection__products {
    .swiper-scrollbar-drag {
        background: color('mink');
    }
    .swiper-wrapper {
        @include margin(null, null, 4.5rem, null);
    }
    .swiper-pagination {
        font-size: 0.625rem;
        font-weight: 300;
        line-height: 1.4;
        @include margin(null, null, 0.3125rem, null);
    }
    .swiper-pagination-current {
        font-weight: 500;
    }
}
